body {
    background-color: rgb(236, 245, 255);
    margin-left: 64px;
    margin-right: 64px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(152, 152, 255);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

p, li {
    color: rgb(99, 99, 0);
}

a {
    color: rgb(170, 0, 0);
    margin-right: 5px;
}

a:hover {
    color: red;
}

a:visited {
    color: grey;
}

button {
    background-color: rgb(170, 0, 0);
    color: white;
}

button:hover {
    background-color: red;
}

section {
    border: solid;
    border-width: 0.01px;
    margin-bottom: 5px;
    border-color: rgb(255, 255, 255);
}
