.flex-container-row {
    display: flex;
    border: solid;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
}

.flex-container-column {
    display: flex;
    border: solid;
    flex-direction: column;
    width: auto;
    margin: 10px;
    min-width: 193px;
}

.flex-item {
    border: solid;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    min-height: 224px;
}

.flex-item > img {
    max-width: 150px;
    width: 95%;
    padding: 10px;
    float: left;
}

.flex-item > text {
    margin-top: 50px;
}