body {
    background-color: #F5EEDD;
    margin: 0;
}

.container {
    min-height: 100vw;
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "menu content"
    "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 0.5fr 3fr;
}

.container > div {
    padding: 10px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    background-color: #06202B;
    -webkit-text-fill-color: white;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    background-color: #077A7D;
    -webkit-text-fill-color: white;
}

.menu {
    grid-area: menu;
    border-right: solid 1px grey;
}

.menu > a.active::before {
    content: "→ ";
    color: red;
}

.content {
    grid-area: content;
    margin: 10px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #7AE2CF;
    align-items: center;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(152, 152, 255);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

p, li {
    color: rgb(99, 99, 0);
}

a {
    color: rgb(170, 0, 0);
}

button {
    background-color: rgb(170, 0, 0);
    color: white;
}

button:hover {
    background-color: red;
}